<div class="footer-contact pt-5 pb-3">
  <div class="container pt-4">
    <div class="row mb-lg-5">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h4 class="font-weight-medium text-site mb-4">GreenHCM</h4>
        <ul class="footer-list d-block">
          <li><a href="modules.html">Product & Services</a></li>
          <li><a href="security-privacy.html">Security & Privacy</a></li>
          <li><a href="terms-condition.html">Term’s & Condition</a></li>
          <li><a href="career.html">Career</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h4 class="font-weight-medium text-site mb-4">Resources</h4>
        <ul class="footer-list d-block">
          <li><a href="#">Marketing Proposal</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">E-Book</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h4 class="font-weight-medium text-site mb-4">Support</h4>
        <ul class="footer-list d-block">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0"><img class="img-fluid mb-3" src="assets/img/ghcm-logo-dark.png" alt="Logo GHCM Dark" />
        <p class="mb-5">Perusahaan teknologi Indonesia dalam bidang Human Capital Management dengan misi peningkatan ketenagakerjaan secara digital.</p>
        <div class="row row-cols-md-2 mx-n2">
          <div class="col px-2"><a href="#"><img class="img-fluid" src="assets/img/btn-play.png" alt="Button Playstore" /></a></div>
          <div class="col px-2"><a href="#"><img class="img-fluid" src="assets/img/btn-app.png" alt="Button Appstore" /></a></div>
        </div>
      </div>
    </div>
    <hr />
    <ul class="footer-social text-center py-2">
      <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-yt.png" alt="" /></a></li>
      <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-fb.png" alt="" /></a></li>
      <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-ig.png" alt="" /></a></li>
      <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-ln.png" alt="" /></a></li>
    </ul>
  </div>
</div><button class="btn-chat"></button>