<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="msapplication-TileColor" content="#0E0E0E" />
  <meta name="theme-color" content="#0E0E0E" />
  <link rel="shortcut icon" href="/assets/img/apple-touch-icon.png" />
  <meta name="description" content="Index page" />
  <meta name="keywords" content="index, page" />
  <meta name="author" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:type" content="website" />
  <title>Untitled</title>
  <link rel="stylesheet" href="assets/vendor/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fonts/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <header class="top-header w-100 d-flex">
    <div class="container-xl align-self-center">
      <div class="row">
        <div class="col-auto d-inline-block d-lg-none btn-menu-holder"><button class="btn btn-menu"><i class="fa fa-bars"></i></button></div>
        <div class="col-auto align-self-center">
          <div class="top-header__logo"><a href="index.html"><img src="assets/img/ghcm-logo.png" alt="Logo GreenHCM" id="img--default" /><img class="d-none" src="assets/img/ghcm-logo-dark.png" id="img--dark" alt="Logo GreenHCM" /></a></div>
        </div>
        <div class="col-md">
          <div class="menu-primary">
            <ul class="menu-primary__list text-lg-right">
              <li class="menu-primary__item"><a class="menu-primary__link menu-primary__link--active" href="index.html">Home</a></li>
              <li class="menu-primary__item"><a class="menu-primary__link" href="modules.html">Modules</a></li>
              <li class="menu-primary__item"><a class="menu-primary__link" href="pricing.html">Pricing</a></li>
              <li class="menu-primary__item"><a class="menu-primary__link" href="stories.html">Stories</a></li>
              <li class="menu-primary__item"><a class="menu-primary__link" href="partnership.html">Partnership</a></li>
              <li class="menu-primary__item drop-lang mb-md-0 mb-3"><span class="menu-primary__link">Bahasa Indonesia <i class="fa fa-chevron-down text-sm ml-2"></i></span>
                <ul class="menu-primary__list--one menu-primary__list--right text-left">
                  <li class="menu-primary__item"><a class="menu-primary__link py-2 text-dark" href="#">English</a></li>
                </ul>
              </li>
              <li class="menu-primary__item d-block d-md-none pl-4"><a class="btn btn-site btn-circle px-5 font-weight-medium" href="login.html">Masuk</a></li>
            </ul>
          </div>
        </div>
        <div class="col-auto align-self-center d-md-block d-none"><a class="btn btn-site btn-circle px-5 font-weight-medium" href="login.html">Masuk</a></div>
      </div>
    </div>
  </header>
  <div class="footer-contact pt-5 pb-3">
    <div class="container pt-4">
      <div class="row mb-lg-5">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h4 class="font-weight-medium text-site mb-4">GreenHCM</h4>
          <ul class="footer-list d-block">
            <li><a href="modules.html">Product & Services</a></li>
            <li><a href="security-privacy.html">Security & Privacy</a></li>
            <li><a href="terms-condition.html">Term’s & Condition</a></li>
            <li><a href="career.html">Career</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h4 class="font-weight-medium text-site mb-4">Resources</h4>
          <ul class="footer-list d-block">
            <li><a href="#">Marketing Proposal</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Case Studies</a></li>
            <li><a href="#">E-Book</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h4 class="font-weight-medium text-site mb-4">Support</h4>
          <ul class="footer-list d-block">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0"><img class="img-fluid mb-3" src="assets/img/ghcm-logo-dark.png" alt="Logo GHCM Dark" />
          <p class="mb-5">Perusahaan teknologi Indonesia dalam bidang Human Capital Management dengan misi peningkatan ketenagakerjaan secara digital.</p>
          <div class="row row-cols-md-2 mx-n2">
            <div class="col px-2"><a href="#"><img class="img-fluid" src="assets/img/btn-play.png" alt="Button Playstore" /></a></div>
            <div class="col px-2"><a href="#"><img class="img-fluid" src="assets/img/btn-app.png" alt="Button Appstore" /></a></div>
          </div>
        </div>
      </div>
      <hr />
      <ul class="footer-social text-center py-2">
        <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-yt.png" alt="" /></a></li>
        <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-fb.png" alt="" /></a></li>
        <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-ig.png" alt="" /></a></li>
        <li class="px-lg-5 px-3"><a href="#"><img src="assets/img/icon-ln.png" alt="" /></a></li>
      </ul>
    </div>
  </div><button class="btn-chat"></button>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="assets/vendor/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>