<header class="top-header w-100 d-flex">
  <div class="container-xl align-self-center">
    <div class="row">
      <div class="col-auto d-inline-block d-lg-none btn-menu-holder"><button class="btn btn-menu"><i class="fa fa-bars"></i></button></div>
      <div class="col-3 align-self-center">
        <div class="top-header__logo top-header__logo--162"><a href="index.html"><img src="assets/img/ghcm-logo.png" alt="Logo GreenHCM" id="img--default" /><img class="d-none" src="assets/img/ghcm-logo-dark.png" id="img--dark" alt="Logo GreenHCM" /></a></div>
      </div>
      <div class="col-md">
        <div class="menu-primary">
          <ul class="menu-primary__list d-md-flex justify-content-md-between">
            <li class="menu-primary__item"><a class="menu-primary__link menu-primary__link--active" href="index.html">Beranda</a></li>
            <li class="menu-primary__item"><a class="menu-primary__link" href="index.html#solution" onclick="$('#solution').animatescroll({scrollSpeed:1000,easing:'easeOutQuint', padding: 100});">Solusi</a></li>
            <li class="menu-primary__item"><a class="menu-primary__link" href="contact.html">Contact</a></li>
            <li class="menu-primary__item drop-lang mb-md-0 mb-3 d-md-none d-block"><span class="menu-primary__link">Bahasa Indonesia <i class="fa fa-chevron-down text-sm ml-2"></i></span>
              <ul class="menu-primary__list--one menu-primary__list--right text-left">
                <li class="menu-primary__item"><a class="menu-primary__link py-2 text-dark" href="#">English</a></li>
              </ul>
            </li>
            <div class="d-block d-md-none pl-4"><a class="btn-login btn-site btn-circle font-weight-medium align-self-center ml-lg-3" href="login.html"><img src="assets/new-img/icon-login.svg" alt="Login SvgIcon" /></a></div>
          </ul>
        </div>
      </div>
      <div class="col-md-5 d-md-flex flex-row justify-content-end d-none">
        <div class="menu-primary">
          <ul class="menu-primary__list">
            <li class="menu-primary__item drop-lang"><span class="menu-primary__link">Bahasa Indonesia <i class="fa fa-chevron-down text-sm ml-2"></i></span>
              <ul class="menu-primary__list--one menu-primary__list--right text-left">
                <li class="menu-primary__item"><a class="menu-primary__link py-2 text-dark" href="#">English</a></li>
              </ul>
            </li>
          </ul>
        </div><a class="btn-login btn-site btn-circle font-weight-medium align-self-center ml-lg-3" href="login.html"><img src="assets/new-img/icon-login.svg" alt="Login SvgIcon" /></a>
      </div>
    </div>
  </div>
</header>